In [2]:
# Installing Required Libraries 

!pip install pandas mysql-connector-python sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in c:\users\samba\appdata\roaming\python\python312\site-packages (9.6.0)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
# importing the pandas 

import pandas as pd

In [6]:
# Extract data : Read Data

disaster_events = pd.read_csv("disaster_events.csv")
regions = pd.read_csv("regions.csv")
impact_assessment = pd.read_csv("impact_assessment.csv")

In [8]:
disaster_events

      event_id disaster_type       region  event_date severity
0            1           NaN  West Bengal         NaN   Medium
1            2       Cyclone      Gujarat  2021-07-29     High
2            3           NaN  West Bengal  2021-03-07      Low
3            4         Flood      Gujarat  2021-02-24     High
4            5       Cyclone        Bihar  2022-07-24      Low
...        ...           ...          ...         ...      ...
1045       278           NaN        Bihar  2023-06-25   Medium
1046       925     Landslide        Assam         NaN      Low
1047       602       Drought        Assam  2022-08-23   Medium
1048       440       Cyclone       Odisha  2021-11-20   Medium
1049       838           NaN        Assam  2023-09-27      Low

[1050 rows x 5 columns]

In [10]:
regions

      region_id      region  population  area_sq_km
0             1       Bihar  90048646.0      207448
1             2     Gujarat         NaN      122562
2             3      Odisha         NaN       95079
3             4      Kerala         NaN      206605
4             5  Tamil Nadu  15204415.0      154926
...         ...         ...         ...         ...
1035        932  Tamil Nadu   7130654.0      199461
1036        255          UP  23058430.0      212090
1037        412     Gujarat         NaN      210685
1038        746       Assam         NaN      144407
1039        634       Assam  73006116.0      132599

[1040 rows x 4 columns]

In [12]:
impact_assessment

      impact_id  event_id  affected_people  economic_loss_musd
0             1       999         250020.0              989.93
1             2       225        2198805.0             1699.75
2             3       183        1645062.0                 NaN
3             4       933         849845.0             4157.40
4             5       389              NaN                 NaN
...         ...       ...              ...                 ...
1055        340       154              NaN                 NaN
1056        318       122        3025038.0             4478.04
1057        874       161              NaN                 NaN
1058        845        42              NaN             1864.60
1059        920       327         613825.0                 NaN

[1060 rows x 4 columns]

# Transform : Data Cleaning & Enrichment

In [ ]:
# check and handle missing values

disaster_events.isnull().sum()

In [ ]:
# Replace missing disaster types with "Unknown"
disaster_events['disaster_type'] = disaster_events['disaster_type'].fillna('Unknown')

In [ ]:
# Convertion of invalid dates 
disaster_events['event_date'] = disaster_events['event_date'].bfill()

In [ ]:
disaster_events.isnull().sum()

In [ ]:
regions.isnull().sum()

In [ ]:
#Filling population with median
regions['population'] = regions['population'].fillna(regions['population'].median())

In [ ]:
regions.isnull().sum()

In [ ]:
impact_assessment.isnull().sum()

In [ ]:
#Missing affected people \& losses → 0
impact_assessment[['affected_people','economic_loss_musd']] = impact_assessment[['affected_people','economic_loss_musd']].fillna(0)

In [ ]:
impact_assessment.isnull().sum()

In [ ]:
# Finding duplicates - disaster_events
disaster_events.duplicated().sum()

In [ ]:
#Droping duplicates  
disaster_events=disaster_events.drop_duplicates()

In [ ]:
disaster_events.duplicated().sum()

In [ ]:
# Finding Duplicates - region
regions.duplicated().sum()

In [ ]:
# Droping duplicates
regions = regions.drop_duplicates()

In [ ]:
regions.duplicated().sum()

In [ ]:
# Finding Duplicates - region
impact_assessment.duplicated().sum()

In [ ]:
# Droping duplicates
impact_assessment = impact_assessment.drop_duplicates()

In [ ]:
impact_assessment.duplicated().sum()

In [ ]:
#Aggregate total affected people per region

merged_df = disaster_events.merge(impact_assessment,on = 'event_id')
total_affected = merged_df.groupby('region',as_index=False)['affected_people'].sum()
total_affected

In [ ]:
# Connecting to MySQL using sqlalchemy
from sqlalchemy import create_engine
engine = create_engine(
    'mysql+mysqlconnector://root:1234@localhost:3306/disaster_db'
)
engine

In [ ]:
#Loading the cleaned data into mySQL

disaster_events.to_sql(
    name="disaster_events",
    con=engine,
    if_exists="replace",
    index=False
)

regions.to_sql(
    name="regions",
    con = engine,
    if_exists = "replace",
    index = False
)

impact_assessment.to_sql(
    name="impact_assessment",
    con = engine,
    if_exists = "replace",
    index = False
)

print("ETL Load Completed")

In [ ]:
pd.read_sql("desc disaster_events",con = engine)

In [ ]:
# Identify top 5 regions by total affected population.

top_regions = total_affected.sort_values(
    by = 'affected_people',
    ascending = False
)
top_regions.head(5)

In [ ]:
# 2. Compare disaster severity distribution by disaster type.

import matplotlib.pyplot as plt
severity_pivot = disaster_events.pivot_table(
    index='disaster_type',
    columns='severity',
    aggfunc='size',
    fill_value=0
)

severity_pivot.plot(kind='bar')

plt.title("Severity Distribution by Disaster Type")
plt.xlabel("Disaster Type")
plt.ylabel("Count")
plt.xticks(rotation=45)
plt.show()

In [ ]:
# 3. Trend of disasters over time (monthly).
# Ensure datetime
disaster_events.loc[:,'event_date'] = pd.to_datetime(
    disaster_events['event_date'], errors='coerce'
)

monthly_trend = (
    disaster_events
    .set_index('event_date')
    .resample('ME')
    .size()
)

plt.figure()
plt.plot(monthly_trend.index, monthly_trend.values)
plt.title("Monthly Disaster Trend")
plt.xlabel("Month")
plt.ylabel("Number of Disasters")
plt.xticks(rotation=45)
plt.show()

In [ ]:
# 4. Economic loss vs affected population scatter plot.
plt.figure()
plt.scatter(
    merged_df['affected_people'],
    merged_df['economic_loss_musd']
)

plt.title("Economic Loss vs Affected Population")
plt.xlabel("Affected People")
plt.ylabel("Economic Loss (Million USD)")
plt.show()

In [ ]:
# 5. Region-wise disaster frequency heatmap.

heatmap_data = disaster_events.pivot_table(
    index='region',
    columns='disaster_type',
    aggfunc='size',
    fill_value=0
)

plt.figure()
plt.imshow(heatmap_data)

plt.title("Region-wise Disaster Frequency Heatmap")
plt.xlabel("Disaster Type")
plt.ylabel("Region")

plt.xticks(range(len(heatmap_data.columns)), heatmap_data.columns, rotation=45)
plt.yticks(range(len(heatmap_data.index)), heatmap_data.index)

plt.colorbar()
plt.show()